{% extends 'base.html' %}

{% block title %}Maōri Dictionary | Words and Definitions{% endblock %}

{% block heading %}Maōri - English Dictionary - All Words{% endblock %}

{% block main %}
    <div class="words">
    {% for word in dictionary_list %}
        <div class="word-box">
            <div class="word-box-heading">
                {{ word[1] }}
            </div>

            <div class="word-box-image">
                <img src="/static/images/{{ word[2] }}.png"
                     onerror="this.onerror=null; this.src='/static/images/noimage.png'">
            </div>

            <div class="word-box-info">
                <p><strong>Category:</strong> {{ word[3] }}</p>
                <p><strong>English:</strong> {{ word[2].title() }}</p>
                <p><strong>Definition:</strong> {{ word[4] }}</p>
                <p><strong>Level: {{ word[5] }}</strong></p>
                {% if is_teacher %}
                    <p><strong>Added By: </strong>{{ word[6] }}</p>
                    <form action="/delete_word/" method="post">
                        <input type="hidden" name="word" value="{{ word[0] }}, {{ word[1] }}">
                        <input type="submit" value="Delete {{ word[1] }}">
                    </form>
                {% endif %}
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}
