{% extends 'base.html' %}

{% block title %}Maōri Dictionary | Words and Definitions{% endblock %}

{% block heading %}Maōri - English Dictionary - {{ category_name }}{% endblock %}

{% block main %}
<div class="words">
<h2>{{ category_name }}</h2>
{% if not dictionary_list %}
    <h3>No words in category</h3>
{% else %}
    <table>
        <thead>
            <tr>
                <th>Maori Word</th>
                <th>English Word</th>
                <th class="table-image">Image</th>
            </tr>
        </thead>
        <tbody>
        {# displays each word in the dictionary list #}
            {% for word in dictionary_list %}
                <tr>
                    <td><h3><a href="/word/{{ word[0] }}">{{ word[1].title() }}</a></h3></td>
                    <td><h3>{{ word[2] }}</h3></td>
                    <td>
                        <img src="/static/images/{{ word[3] }}.png" alt="{{ word[1] }}"
                             onerror="this.onerror=null; this.src='/static/images/noimage.png'">
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}
</div>
{% endblock %}
